/* =============
    Typography
============= */

<<<<<<< HEAD
body { 
    font-family: 'Open Sans', sans-serif;
    //font-family: 'comforta', cursive;
    //font-family: 'Pacifico', cursive;
}

h1, h2, h3, h4, h5 {
    margin:0;
    padding:0;
}

p {
    margin: 0;
    padding:0;
=======
body {
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Comfortaa', cursive;
    // font-family: 'Pacifico', cursive;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

p {
   margin: 0;
   padding: 0; 
>>>>>>> 031b9a4688bdf05a9a47a81be86ca32256cbddb9
}